@import url("../../index.css");


.encuesta-container {
    background-color:  var(--fern-green);
    height: 160px;
    text-align: center;
    padding-top: 1rem;
  }

  .btn-link-pages {
    border-radius: 0.75rem;
    border: none;
    box-shadow: 2px 2px 5px var(--davys-gray);
    background-color: var(--old-gold);
    width: 8rem;
    height: 2rem;
    color: var(--davys-gray);
    font-weight: 600;
}
.btn-link-pages:hover{
    background-color: var( --moss-green);
    color: white;
}
.survey-text {
    background-color: var(--fern-green);
    
}

@media only screen and (max-width: 750px) {
    .encuesta-container {
        height: 220px;
  }
}
