
.card {
  display: flex;
  align-items: center;
}
.card img {
  width: 100%;
  height: 100%;
}

.card img {
    width: 365px; 
    height: 210px; 
    object-fit: cover; 
    border-radius: 10px; 
    margin-bottom: 10px; 
    
  }
