@import url("../../index.css");


.search-title {
    justify-self: left;
    color: var(--light-green);

}

.search-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    border-bottom: 1px solid var(--light-green);
    margin: 1rem;
    gap: 2rem;
    margin-top: 3rem;
}

.funtionalities-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.btn-wrapper{
    display: flex;
    gap: 0.5rem
}

.search-input {
    align-self: center;
    height: 2.5rem;
    width: 15rem;
    background-color: var(--davys-gray);
    color: white;
    border-radius: 0.5rem;
    padding-left: 1rem;

}

.dropdown-button {
    align-self: center;
}

.reset-button {
    align-self: center;
    background-color: var(--old-gold);
    color: var(--davys-gray);
    padding: 6px 20px;
    border-radius: 0.5rem;
    font-weight: 600;
}

.reset-button:hover {
    background-color: var(--moss-green);
    color: white;
}

.game-card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: max-content;
    border-radius: 20px;

}

.no-found {
    font-size: 25px;
    padding: 1rem;
    color: white;
    margin-bottom: 3rem;
}

.page-btn-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.page-btn {
    width: 30px;
    background-color: var(--light-green);
    color: var(--davys-gray);
    font-weight: 600;
}



@media (min-width: 1px) {
    .game-card {
        grid-template-columns: 1fr;
    }
}

@media (min-width: 952px) {
    .game-card {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 1430px) {
    .game-card {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 1900px) {
    .game-card {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}


/* Tablet view */
@media (max-width: 875px) {

    .search-title {
        margin: 0;
    }

    .search-wrapper {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: center;
        padding-bottom: 1rem;
    }

    .funtionalities-wrapper {
        display: flex;
        flex-direction: row;
    }


}

/* Mobile view */
@media (max-width: 420px) {
    .search-title {
        margin: 0;
    }

    .search-wrapper {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: center;
        padding-bottom: 1rem;
    }

    .funtionalities-wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .btn-wrapper{
        gap:1rem
    }

}
