.game-card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: max-content;
    background-color: var(--fern-green);
}

@media (min-width: 1px)  {
    .game-card {
        grid-template-columns: 1fr;
    }
}

@media (min-width: 952px)  {
    .game-card {
        grid-template-columns: 1fr 1fr;
    }
}
@media (min-width: 1430px)  {
    .game-card {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media (min-width: 1900px)  {
    .game-card {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}


.recomendations-p {
    display: flex;
    justify-content: left;
    margin: 1rem;
    padding-bottom: 0.5rem;
    color: var(--light-green);
    border-bottom: 1px solid var(--light-green);
}

.nogame-found {
    width:inherit;
}