
.game-card-style {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  align-content: center;
  border-radius: 15px;
  background-color: var(--fern-green);
  height: 100%;
  width: 100%;
  max-width: 400px;
  max-height: 420px;
  /* padding: 2%; */
  /* padding-top: 5%; */
  padding-bottom: 3%;
  overflow: hidden;
  /* box-shadow: 0 0 0 1px var(--fern-green) */
  
}
.game-card-style .img-container {
  margin: 0;
  width: 100%;
  height: auto;
}

.game-card-style .img-container img{
  width: 100%;
  height: 100%;
}

.game-card-content{
  width: 100%;
  height: 100%;
  padding: 0 0.5rem;
  color: white;
}

.game-card-content p{
  margin: 0;
}

.card-title{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  margin: 0.5rem 0;
  padding: 0;
}

.card-title h2 {
  font-weight: 800;
  font-size: 30px;
  margin: 0;
  text-align: center;
}

.game-card-description{
  display: flex;
  width: 100%;
  height: auto;
  min-height: 70px;
  padding: 0 1rem;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.5rem;
}

.game-card-description p{
  font-weight: 600;
  font-size: 1rem;
  text-align: center;
}

.game-card-genre{
  display: flex;
  width: 100%;
  height: auto;
  padding: 0 1rem;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.5rem;
}

.game-card-genre p{
  font-weight: 500;
  font-size: 1rem;
}
