
.game-card-style {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  border-radius: 15px;
  background-color: var(--fern-green);
  width: 400px;
  margin: 20px
  
}
.game-card-style img {
  margin: 20px
}

