.game-card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows:  max-content;
    border-radius: 20px;
    
}
.no-results {
    background-color: var(--fern-green);
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: center;
    display: flex;
    width: 100vw;
}
.no-results p {
    margin: 10px;
}
.recomendations-p {
    color: var(--light-green);
    margin: 15px;
    border-bottom: 2px solid var(--light-green);
}


@media (min-width: 1px)  {
    .game-card {
        grid-template-columns: 1fr;
    }
}

@media (min-width: 952px)  {
    .game-card {
        grid-template-columns: 1fr 1fr;
    }
}
@media (min-width: 1430px)  {
    .game-card {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media (min-width: 1900px)  {
    .game-card {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
