@import url("../../index.css");


.recomendaciones-container {
    /* background-color: var(--fern-green) ; */
    height: 600px;
  }
.card-carousel {
    display: inline-block;
    margin: 20px;
    border: 1px solid black;
    width: 350px;
    height: 500px;
}
.recomendations-p {
    display: flex;
    justify-content: left;
    margin: 1rem;
    padding-bottom: 0.5rem;
    color: var(--light-green);
    border-bottom: 1px solid var(--light-green);
}