@import url("../../../index.css");

body{
    background-color: transparent;
}
.rec-div-wrapper{
    width: 100%;
}

.rec-title{
    display: flex;
    justify-content: left;
    margin: 1rem;
    padding-bottom: 0.5rem;
    color: var(--light-green);
    border-bottom: 1px solid var(--light-green);

}

.rec-card-group{
    margin: 1rem 6rem;

}

.rec-card{
    background-color: var(--emerald-2);
}


.rec-card-title{
    color: white;
    font-weight: 700;
}

.rec-card-text{
    color: white;
    font-size: 1rem;
}

.rec-text-muted{
    color: var(--bs-secondary-bg) !important
}

.div-flex{
   display:flex;
   justify-content: center;
   padding-bottom: 1rem;

}
.see-more-btn{
    border-radius: 1rem;
    background-color: var(--aureolin);
    width: 10rem;

}
.see-more-btn:hover{
    background-color: var( --moss-green);
    color: white;
    transform: scale(1.1);
    transition: transform 0.5s ease;
}
