@import url("../../../index.css");

body{
    background-color: transparent;
}

.rec-title{
    display: flex;
    justify-content: left;
    margin: 1rem;
    padding-bottom: 0.5rem;
    color: var(--light-green);
    border-bottom: 1px solid var(--light-green);
    
}

.rec-card-group{
    display: flex;
    justify-content: center;
}

.card-group{
    width: 50rem;
    height: auto;
}

.card{
    background-color: var(--emerald-2);
    padding: 1rem;

}

.card-img-top{
    height: 10rem;
}

.card-body{
    height: 11rem;

    p{
        margin: 0;
    }
}

