@import url("../../../index.css");


/* .banner-container{
  width: 100%;
  height: auto;
  margin-top: 104px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner {
  width: 100%;
  height: fit-content;
  background-size: cover; /* Make the background image cover the entire container */
  background-position: center; /* Center the background image */
  display: flex; /* Make the container a flex container */
  justify-content: center; /* Center the content horizontally */
  align-items: center; /* Center the content vertically */
  background-image: url("../../../assets/banners/Banner1900.png");
}

/* Add media queries to make the image responsive */

@media only screen and (max-width: 1400px) {
  .banner {
    background-image: url("../../../assets/banners/Banner1900.png");
  }
}
@media only screen and (max-width: 1090px) {
  .banner {
    background-image: url("../../../assets/banners/Banner1080.png");
  }
}




