
@import url("../../../index.css");


.game-title{
    display: flex;
    justify-content: left;
    margin: 1rem;
    padding-bottom: 0.5rem;
    color: var(--light-green);
    border-bottom: 1px solid var(--light-green);

}

