.footer {
  background-color: #333; 
  color: white;
  text-align: center; 
  margin: 0 !important;
  padding: 20px 0; 
  position: relative; 
  width: 100svw;
  height: fit-content;
}

.footer-content {
  max-width: 1000px; 
  margin: 0 auto; 
  padding: 0 20px; 
}

.footer-nav ul {
  list-style-type: none; 
  padding: 0; 
  margin: 10px 0 0 0; 
}

.footer-nav ul li {
  display: inline; 
  margin: 0 15px; 
}

.footer-nav ul li a {
  color: white; 
  text-decoration: none; 
  transition: color 0.3s ease; 
}

.footer-nav ul li a:hover {
  text-decoration: underline; 
  color: #ccc; 
}

.footer p {
  margin: 10px 0 0 0;
}
